.idea/
certs/

.DS_Store

.terraform
*.pem
*rke2.yaml

*tfstate*

# dependencies
/node_modules

# debug
npm-debug.log*

# developer non sourced helper files
# used for rolling notes / patch files
patch.yaml
notes